<div class="container">
  <mat-form-field>
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>
</div>

<div class="container">
  <mat-table
    class="table table-striped table-hover table-sm"
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="id">
      <mat-header-cell class="table-head" *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell class="table-head" *matHeaderCellDef
        >Year</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.year }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell class="table-head" *matHeaderCellDef
        >Name</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
      <mat-header-cell class="table-head" *matHeaderCellDef
        >Brand</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.brand }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mfr">
      <mat-header-cell class="table-head" *matHeaderCellDef
        >Manufacturer</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{ item.mfr }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      (click)="logData(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
</div>
