<hr class="mb-5 mt-5" />
<div class="container-fluid">
  <h2>Add An Item</h2>
  <form [formGroup]="dieCastInputForm">
    <div class="form-group">
      <label
        >Release Year
        <input formControlName="releaseYear" type="text" class="form-control" />
      </label>
    </div>

    <div class="form-group">
      <label
        >Name
        <input formControlName="name" type="text" class="form-control" />
      </label>
    </div>

    <div class="form-group">
      <label
        >Brand
        <input formControlName="brand" type="text" class="form-control" />
      </label>
    </div>

    <div class="form-group">
      <label
        >Manufacturer
        <input
          formControlName="manufacturer"
          type="text"
          class="form-control"
        />
      </label>
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
  </form>
  <br />

  <br />

  <!-- input test...remove before depoyment -->
  {{ dieCastInputForm.value | json }}
</div>

<hr class="mb-5 mt-5" />
