
<body>
  <div class="container">
    <header id="dieCastBgImg">
      <div class="container d-inline-flex">
        <nav class="navbar" id="navBar">
          <div class="flex-grow-1 px-5" id="title">COLLECTOR</div>
          <a class="nav-link active px-3 text-dark text h5" href="#">Log In</a>
          <a class="nav-link px-3 text-dark text h5" href="#">About</a>
          <a class="nav-link px-3 text-dark text h5" href="#">Contact</a>
        </nav>
      </div>
    </header>
  </div>
    
  
  
</body>