
<body>
  <div class="">
    <header id="dieCastBgImg">
      <div class="d-inline-flex">
        <nav class="navbar" id="navBar">
          <div class="flex-grow-1 px-5" id="title">COLLECTOR</div>
          <a class="nav-link active px-3 text-dark text h5" href="#">About</a>
          <a class="nav-link px-3 text-dark text h5" (click)="openLogin()">Log In</a>
          <a class="nav-link px-3 text-dark text h5" (click)="openReg()">Register</a>
          <a class="nav-link px-3 text-dark text h5" routerLink="/diecast-list">Die Cast List</a>
        </nav>
      </div>
    </header>
  </div>
</body>