<h2>Collection List</h2>
<!-- <ul *ngFor="let item of collection">
  <li>
    {{ item.id }} - {{ item.year }} - {{ item.name }} - {{ item.brand }} -
    {{ item.mfr }}
  </li>
</ul> -->
<div class="container">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr class="text-white table-head">
        <!-- maybe eliminate id from view -->
        <th scope="col">ID</th>
        <th scope="col">Release Year</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="text-white table-body">
      <tr *ngFor="let item of collection">
        <!-- maybe eliminate id from view -->
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.year }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.brand }}</td>
        <td>{{ item.mfr }}</td>
        <td>
          <button
            class="btn btn-delete btn-sm text-white"
            (click)="onDelete(id)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
